<p id="gross">
	<b>Produkt:</b>
	<%= @custom_product.product_id %>
	<br />
	<br />
	<b>Druck:</b>
	<%= @custom_product.print_id %>
</p>
<div id="klein">
	<%= link_to 'editiere', edit_custom_product_path(@custom_product) %> |
	<%= link_to 'zurück', custom_products_path %>
</div>
