<br /><div id="gross">
	<br />
	<%= image_tag(@article.article_url, :class => 'list_image') %>
	<br />
	<b>Name: </b><%= @article.name %><br />
	<br />
	<br />
</div>

<div id="klein">
	<%= link_to 'editiere', edit_article_path(@article) %> |
	<%= link_to 'zurück', articles_path %>
</div>