<p id="user_gross">
	<b>Name: </b><%= @user.name %>
	<br />
	<br />
	<b>Hashed password: </b>xxx
	<br />
	<br />
	<b>Salt: </b>xxx
</p>
<div id="user_klein">
	<%= link_to 'editiere', edit_user_path(@user) %> |
	<%= link_to 'zurück', users_path %>
</div>