<div id="brand_list">
	<h1>erhältliche Grössen</h1>

	<table>

		<% @sizes.each do |size| %>
		<tr >
			<td class="list_description"><%= size.name %></td>
			<td id="klein">
			<%= link_to 'editiere', edit_size_path(size) %>
			<%= link_to 'lösche', size, :data => {:confirm => 'Bist du sicher?'}, method: :delete %></td>
		</tr>
		<% end %>
	</table>

	<br />
	<div id="klein">
		<%= link_to 'neue Grösse hinzufügen', new_size_path %>
	</div>
</div>
