<br />
<h1>erhältliche Grössen</h1>

<table>
	<% @sizes.each do |size| %>
	<tr >
		<td width="200px"><%= size.name %></td>
		<td id="size_klein"> <%= link_to 'editiere', edit_size_path(size) %> |
		<%= link_to 'lösche', size, :data => {:confirm => 'Bist du sicher?'}, method: :delete %></td>
	</tr>
	<% end %>
</table>

<br />
<div id="size_klein">
	<%= link_to 'neue Größe hinzufügen', new_size_path %>
</div>
