<br />
<p id="notice">
	<%= notice %>
</p>

<p>
	<b>Größe:</b>
	<%= @size.name %>
</p>

<div id="klein">
	<%= link_to 'editiere', edit_size_path(@size) %> |
	<%= link_to 'zurück', sizes_path %>
</div>

<br />
