<h1>Bestellung</h1>
<div id="gross">
	<div class="bestellung" >
		<fieldset>
			<legend>
				Bitte gib deine Kontaktdaten an:
			</legend>
			<br/>
			<%= render 'form' %>
		</fieldset>
	</div>
</div>

<div id="klein">
	<%= link_to 'zurück', store_path %>
</div>