<br />
<div id="color_gross">
	<b>Farbe:</b>
	<%= @color.name %>
</div>
<br />
<div id="color_klein">
	<%= link_to 'editiere', edit_color_path(@color) %> |
	<%= link_to 'zurück', colors_path %>
</div>
