
#dropDownMenuGirls {
	position: absolute;
	top: 182px;
	left: 251px;
	display: none;
}

#dropDownMenuGirls a {
	color: #008000;
	position: absolute;
	top: 182px;
	left: 251px;
	display: none;
}

#dropDownMenuGirls a:hover {
	position: absolute;
	top: 182px;
	left: 251px;
	display: none;
}

#dropDownMenu2 {
	background: #000000;
	border: 0px solid black;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}

#dropDownMenu2 a {
	text-decoration: none;
	color: white;
	font-family: Verdana;
	font-size: 18px;
}

#dropDownMenu2 p {
	margin: 0px;
	padding-right: 30px;
	padding-left: 15px;
	padding-top: 1px;
}

#dropDownMenu3 {
	background: green;
	border: 0px solid black;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}