// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#article_gross {
  font-family: Verdana;
  font-size: 14px;
  color: black;
}

#article_gross a {
  color: black;
  text-decoration: none;
}

#article_gross a:hover {
  color: red;
  text-decoration: none;
}

#article_klein {
  font-family: Verdana;
  font-size: 8px;
  color: black;
}

#article_klein a {
  color: black;
  text-decoration: none;
}

#article_klein a:hover {
  color: red;
  text-decoration: none;
}

/* Marken */
#brand_list h1 {
  font-family: Verdana;
  font-size: 18px;
  text-decoration: underline;
  color: #000;
}

#article_list table {
  font-family: Verdana;
  border-collapse: collapse;
}

#article_list table tr td {
  padding: 5px;
  vertical-align: top;
}

#article_list .list_image {
  padding-top: 10px;
  padding-left: 10px;
  width: 150px;
  height: 70px;
}

#article_list .list_description {
  font-family: Verdana;
  width: 70%;
}

#article_list .list_description dl {
  margin: 0;
  width: 450px;
}

#article_list .list_description dt {
  color: #000;
  font-weight: bold;
  font-size: 100%;
}

#article_list .list_description dd {
  font-size: 80%;
  margin: 0;
}

#article_list .list_actions {
  font-family: Verdana;
  font-size: 80%;
  text-align: left;
  padding-left: 0em;
}

#article_list .list_actions a {
  color: black;
  text-decoration: none;
}

#article_list .list_actions a:hover {
  color: #FF0000;
  text-decoration: none;
}

#article_list .custom_products {
  font-family: Verdana;
  font-size: 80%;
  text-align: left;
  padding-left: 1em;
}

#article_list .list_line_even {
  background: #ddd;
}

#article_list .list_line_odd {
  background: #999;
}