/* Hauptfenster */
#main {
	margin-left: 0em;
	padding-top: 0px;
	padding-left: 200px;
	padding-right: 300px;
	background: white;
}

/*Logo etc.*/
#banner {
	background: #000000;
	padding-top: 15px;
	padding-left: 0px;
	padding-bottom: 0px;
}

/* Menüpunkte */
#menu {
	font-family: Verdana;
	font-size: 110%;
	padding-top: 18px;
	padding-left: 0px;
	padding-bottom: 15px;
	background: black;
}

#menu a {
	color: white;
	text-decoration: none;
}

/* Warenkorb /Login-Button */
#side {
	float: right;
	padding-top: 0.5em;
	padding-left: 1em;
	padding-right: 0.5em;
	padding-bottom: 1em;
	width: 14em;
	background: #999999;
}

#cart, #cart table {
	font-size: smaller;
	color: black;
}
#cart table {
	margin-bottom: 0px;
}

/*Fusszeile*/
#foot {
	background: #999999;
	font-family: Verdana;
	color: black;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

/* store*/

#store #notice {
	color: #fff;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #000;
	font: bold smaller Verdana;
}

#store h1 {
	font-family: Verdana;
	color: black;
	border-bottom: 0px dotted black;
}

#store .item_price, #store .total_line {
	text-align: right;
}

#store .total_line .total_cell {
	font-weight: bold;
	border-top: 2px solid red;
}

#store  .entry {
	font-family: Verdana;
	overflow: auto;
	margin-top: 1em;
}

#store .entry img {
	width: 150px;
	height: 70px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#store .entry h3 {
	font-family: Verdana;
	margin-top: 0;
	margin-bottom: 2px;
	color: black;
}

#store .entry p {
	margin-top: 0.5em;
	margin-bottom: 0.8em;
}

#store .entry .rating_line {
	clear: both;
	margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
	position: relative;
}

#store .entry  .origin {
	color: black;
	font-size: 80%;
	font-weight: bold;
	margin-right: 2em;
}

#store .entry  .infotext {
	color: black;
	font-size: 80%;
	margin-right: 2em;
}

#store .entry  .rating {
	color: red;
	font-size: 80%;
	font-weight: bold;
	margin-right: 2em;
}

#store .entry form, #store .entry form div {
	display: inline;
}

/* Marken */

#brand_list h1 {
	font-family: Verdana;
	color: black;
	border-bottom: 0px dotted black;
}

#brand_list table {
	font-family: Verdana;
	border-collapse: collapse;
}

#brand_list table tr td {
	padding: 5px;
	vertical-align: top;
}

#brand_list .list_image {
	width: 150px;
	height: 70px;
}

#brand_list .list_description {
	font-family: Verdana;
	width: 50%;
}

#brand_list .list_description dl {
	margin: 0;
}

#brand_list .list_description dt {
	color: black;
	font-weight: bold;
	font-size: 100%;
}

#brand_list .list_description dd {
	font-size: 80%;
	margin: 0;
}

#brand_list .list_actions {
	font-family: Verdana;
	font-size: 80%;
	text-align: left;
	padding-left: 0em;
}

#brand_list .custom_products {
	font-family: Verdana;
	font-size: 80%;
	text-align: left;
	padding-left: 1em;
}

#brand_list .list_line_even {
	background: grey;
}

#brand_list .list_line_odd {
	background: white;
}