// Place all the styles related to the Brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#list_line_even {
  background: none;
}

#list_line_odd {
  background: #999;
}

/* Marken */
#brands_list h1 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: underline;
  color: #000;
}

#brands_list table {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#brands_list table tr td {
  padding: 5px;
  vertical-align: top;
}

#brands_list .list_image {
  padding-top: 10px;
  padding-left: 10px;
  width: 150px;
  height: 70px;
}

#brands_list .list_description {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 70%;
}

#brands_list .list_description dl {
  margin: 0;
  width: 450px;
}

#brands_list .list_description dt {
  color: #000;
  font-weight: bold;
  font-size: 100%;
}

#brands_list .list_description dd {
  font-size: 80%;
  margin: 0;
}

#brands_list .list_actions {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 80%;
  text-align: left;
  padding-left: 0em;
}

#brands_list .list_actions a {
  color: black;
  text-decoration: none;
}

#brands_list .list_actions a:hover {
  color: #FF0000;
  text-decoration: none;
}

#brands_list .custom_products {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 80%;
  text-align: left;
  padding-left: 1em;
}

#brands_list .list_line_even {
  background: #ddd;
}

#brands_list .list_line_odd {
  background: #999;
}