// Place all the styles related to the Colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#color_gross {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
}

#color_gross a {
  color: black;
  text-decoration: none;
}

#color_gross a:hover {
  color: red;
  text-decoration: none;
}

#color_klein {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: black;
}

#color_klein a {
  color: black;
  text-decoration: none;
}

#color_klein a:hover {
  color: red;
  text-decoration: none;
}
