<br />
<% if notice %>
<p id="notice" >
	<%= notice %>
</p>
<% end %>

<% @brands.each do |brand| %>

<div id="store_logos" align="center">
<%= link_to image_tag(brand.logo_url), brand %>
<%#= brand.name %>
<%#= raw truncate((brand.info_text), :length => 160) %>
<%#= link_to "mehr Info",  brand_path(brand) %>
<%#= link_to "alle Produkte zeigen", products_path(:brand_filter => brand.id) %>
</div>
<% end %>

<br />
<br />
<br />
<br />
<br />
<%#= button_to 'Ranking', store_path(:sort_by => 'rating DESC') %>
	<%#= button_to 'Marke', store_path(:sort_by => 'name') %>
	<%#= button_to 'Herkunft', store_path(:sort_by => 'origin') %>
